*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    width: 100vw;
    height: 100vh;
  }
  .container{
    background-color: rgb(59, 57, 57);
    width: 100%;
    height: 100%;
    display: grid;
    gap: 0.45rem;
    grid-template-columns: repeat(1, fr);
    grid-template-rows: repeat(4, 200px);
    padding: 5rem;

  }
  .item{
    width: 100px;
    height: 100px;
    background-color: green;
    border: 5px solid #eaeaea;
    /* justify-self: stretch;
    align-self: stretch; */
    place-self: center;
    
  }