.container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 70px 400px 100px;
}

.header {
    grid-column-start: 1;
    grid-column-end: 3;
}

.menu {
    grid-column-start: 1;
    grid-column-end: 3;
}

.content {
    grid-column-start: 1;
    grid-column-end: 3;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 3;   
}