/* src/styles.css */


#heading{
    color: blueviolet;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#heading{
    color: red;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f3f3f3;
    width: 100%;
    border-bottom: 2px solid #ddd;
    padding: 0 1.5rem;
}
.nav-items ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
    list-style: none;

}
.nav-items ul li{
    font-size: 1.25rem;
}
.nav-items ul a{
    color: #333;
    text-decoration: none;
}
.nav-items ul a.active{
    color: blueviolet;
}
.seach-bar{
    padding: 2rem;
}
.res-container{
    margin: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.res-card{
    width: 257px;
    height: auto;
    border: 1px solid #ddd;
    background-color: #f2f2f2;
    color: #444;
    text-decoration: none;
}
.res-card:hover{
    border: 1px solid #333;
    cursor: pointer;
}
.res-card .res-logo{
    width: 100%;
    height: 220px;
}
.res-card .res-name{
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
    padding: 7px 10px;
}
.res-card h4{
    padding: 12px 5px;
}
.res-card .res-course-namme{
    text-align: center;
    width: 100%;
    font-size: 14px;
}
.filter{
    display: flex;

}
.search .search-box{
    height: 32px;
    border-right: none;
}
.search button{
    height: 32px;
    padding: 0 10px;
}
.filter-btn{
    padding: 7px 10px;
    margin: 10px;
    cursor: pointer;
}
.search{
    padding: 10px;
    margin: 10px 0;
}
.shimmer-con{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.shimmer-card{
    width: 257px;
    height: 360px;
    border: 1px solid #ddd;
    background-color: #eaeaea;
    margin: 20px;
}
.login-btn {
    padding: 20px;
    cursor: pointer;
    &:hover{
        background-color: #999;
    }
}
.menu-detail-con{
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    padding: 50px 0;
}
.menu-detail-con h2{
    margin-top: 10px;
}
.menu-detail-card-one{
    border-radius: 20px;
    border: 1px solid rgba(2, 6, 12, 0.15);
    background: white;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 8px 16px 0px;
    height: 120px;
    margin: 20px;
    padding: 15px;

}
.menu-accordion-con .menu-accordion-list{
    background: #f2f2f2;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    counter-increment: gradient-counter;
    margin-top: 1rem;
    min-height: 3rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}
.accordion-list-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.accordion-list-header span:first-child{
    font-weight: 700;
}
.accordion-list-body{
 padding: 7px 10px;
}
.accordion-list-body .item-list-con{
    width: 100%;
}
.accordion-list-body .item-list-con .item-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 100%;
    padding: 20px 0;
    border-bottom: 1px solid #d3d3d3;
    margin: 20px 0;

}
.accordion-list-body .item-list-con .item-list .left-item-list{
    flex: 0 0 75%;
    
}
.accordion-list-body .item-list-con .item-list .left-item-list .item-list-name{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.45px;
    color: rgba(2, 6, 12, 0.75)
}
.accordion-list-body .item-list-con .item-list .left-item-list .item-list-discount{
    padding: 7px 0;
}
.original-proce{
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.4px;
    color: rgba(2, 6, 12, 0.45);
    text-decoration: line-through;
    margin-right: 4px;
}
.descount-price{
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.4px;
    color: #333;
}
.accordion-list-body .item-list-con .item-list .left-item-list .item-list-serve{
    font-weight: 200;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.4px;
    color: rgba(2, 6, 12, 0.6);
}


.accordion-list-body .item-list-con .item-list .right-item-list{
    flex: 0 0 25%;

}
.accordion-list-body .item-list-con .item-list  .right-item-list .right-item-imge-con{
    width: 150px;
    height: auto;
    object-fit: contain;
    position: relative;
}
.right-item-list .right-item-imge-con .right-item-imge{
    width: 100%;
    height: auto;

}
.right-item-list .right-item-imge-con .add-item-btn{
    position: absolute;
    left: 20;
    bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    color: orange;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 5px 10px;
    width: 100px;
}