*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#heading{
    color: red;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f3f3f3;
    width: 100%;
    border-bottom: 2px solid #ddd;
    padding: 0 1.5rem;
}
.nav-items ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
    list-style: none;

}
.nav-items ul li{
    font-size: 1.25rem;
}
.seach-bar{
    padding: 2rem;
}
.res-container{
    margin: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.res-card{
    width: 260px;
    height: 300px;
}
.res-card:hover{
    border: 1px solid #ddd;
    cursor: pointer;
}
.res-card .res-logo{
    width: 100%;
}
.res-card .res-name{
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
}
.res-card .res-course-namme{
    text-align: center;
    width: 100%;
    font-size: 14px;
}
